.navbar-default {
  background-color: blue;
}

.container-fluid {
  background-color: blue;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default:hower .navbar-brand:hower {
  color: white;
}

.navbar-default .navbar-nav > li > a{
  color: white;
}

body {
  font-family: Montserrat;
  background: #fafafa;
}

.dropzone{
  text-align:center;
  font-size:18px;
  height: 500px;
}

.glyphicon-download{
  font-size:1.5em;
}

.dz-image {
  text-align: center;
}

.dz-details, .dz-success-mark, .dz-error-message, .dz-error-mark{
  display: none !important;
}

.card_left {
  height: 500px;
  color: white;
  background-color: black;
  border-radius: 10px;
}
.blue {
  background-color: blue;
  color: white !important;
}

.title {
  font-size: 43px;
  font-weight: bold;
}

.content_bottom {
  margin-top: 10px;
}

.content {
  /*color: black;*/
  margin-bottom: 10px;
}

.card_right {
  margin-left:20px;
  margin-top:20px;
}

.card-outline-secondary {
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin:auto;
  margin-top: 230px;
  position: relative;
}

#xray_view {
  height: 420px;
  width: 100%;
  margin-top: 15px;
}

.card-outline-secondary {
  color: grey;
}
